.main_content{padding: 60px 0 0 30px;}
.update-mypage{font-weight: 700; font-size: 20px; display: inline-block; margin-bottom: 20px;}

td{border: 0.1px solid #ccc;}
.table{width: 100%; margin-top: 10px; margin-left: 50px; }
td:first-child{
    height: 50px;
    line-height: 48px;
    padding-right:30px;
    width: 25%;
    font-weight: bold;
    font-size: 15px;
}

td:not(first-child){
    padding-left: 30px;
    font-size: 15px;
}

.pass{width: 75%;}
.pass+div{margin-top: 3px; }
.nickname{width: 70%;}
.email-input{width: 70%;}
.ph{width: 20%;}
.csdiv{text-align: center; margin-top: 20px; height:30px;  margin-bottom: 30px;}
#cancel, #update{border: none; width: 35%; padding: 5px; border-radius: 5px; color: white;}
#cancel{ background-color: #E5D4C5;}
#update{background-color: #A59999;}
#cancel:hover, #update:hover{cursor: pointer;}

input{border:0px;
	border-bottom: 1px solid darkgrey;
	max-width: 260px;}

input{outline: none;}
.ph{text-align: center;}
.update-info{display: none}
.update-img{text-align: center;}
.update-img img{border-radius: 50%; width: 8em; height: 8em; cursor: pointer;}

@media screen and (max-width: 768px) and (min-width: 0px) {
	.update-info{display: block;}
    .main_content{padding: 0;}
    .board-page{margin-left: 20px;}
    .footer_wrap{display: none;}
    .update-mypage{padding: 20px;}

    #update, #cancel{width: 49%;}
    table{display: none;}

    .update-info > div:nth-child(2){    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #A59999;
    border: 1px solid #A59999;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;}
    .update-info > div{padding: 5px 10px 5px 10px;}

    .updateName, .updateNN, .updateId, .updateEmail, .updatePhone, .updatePW{font-weight: bold; padding-bottom: 5px; font-size: 14px; color: #A59999}

    .pwResult > *:not(button){width: 49%;}

    .pwResult > button{width: 100%; margin-top:20px; height:35px;border-radius: 10px; border: 1px solid #A59999; cursor: pointer; background-color: white; color: #A59999 }

    .pwSpan{margin-left: 30px; color: red;}

    .side_menu{display: inline-block;}
    .side_menu > ul{display: flex;}
    .side_menu > ul > li{width: 25%;}
    .side_menu > ul > hr{display: none;}

    .update-info > .update-img{display: none;}
    .csdiv {margin-bottom: 10px}

@media screen and (max-width: 1120px) and (min-width: 768px)  {

    .update-info{display: none;}
    td:first-child{
    width: 30%;    padding-right: 0px;}
    td:not(first-child){padding-left: 0px;}

}@media screen and (min-width: 950px) {

    .update-info{display: none;}
        .update-info > div{margin-top: 10px;}
}
}