.self_banner{

    /*width: 75%;*/
    height: 220px;
    margin: 0 auto;
    padding: 30px;
    letter-spacing: 0.5px;
    word-spacing: 4px;
    background-image: url("../../resources/images/6057300.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    background-position: bottom;
}

.self_banner > div:first-child{
    color: #746868;
    margin: 50px 0 10px 0;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

.self_banner > div:last-child{
    color: #746868;
    font-size: 25px;
    font-weight: bolder;
    line-height: 25px;
    text-align: right;
}

.self_content{
    /*width: 75%;*/
    margin: 0 auto;
}

.self_content_title{
    height: 40px;
    font-size: 25px;
    margin-top: 74px;
    line-height: 35px;
}

.self_content_title > div:last-child{
    font-weight: bold;
}

.self_content_option{
    margin-top: 65px;
    width: 100%;
    height: 230px;
}

.self_content_option1,
.self_content_option2{
    display: flex;
    flex-direction: row;
    background: rgb(248 248 248);
    font-size: 18px;
    font-weight: 550;
    cursor: grabbing;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
}

.self_content_option1 div,
.self_content_option2 div{
    border: 0.3px solid #ededed;
    width: 250px;
    height: 70px;
    transition: 0.2s;
}

.self_content_option1 div.active, .self_content_option2 div.active{background-color:#A59999}


.selfTest{
    padding:0 30px;
    display: flex;
    flex-direction: column;
}

.selfTest_title h1{
    font-size: 25px;
    font-weight: 600;

}

.selfTest_title div{
    font-size: 15px;
    margin-top: 30px;
    font-weight: 450;
    word-spacing: 0.3px;
    line-height: 23px;
}

.selfTest_content{
    border-bottom: 1px solid rgb(237 237 237);
    border-top: 1px solid rgb(237 237 237);
    padding: 20px 0;
    margin: 30px 0;
    margin-bottom: 15px;
}

.selfTest_content > span:first-child{
    font-weight: bolder;
    font-size: 25px;
}

.selfTest_content > span:nth-child(3){
    margin-left: 5px;
    color: rgb(165 153 153);
}

.selfTest_content > span:nth-child(2){
    border-left: 1px solid rgb(0 0 0);
    font-size: 15px;
}

.selfTest_content > div:first-of-type{
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.selfTest_content > div:first-of-type{
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

#selfTest_content_option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 30px 0;
}

.selfTest_result{
    border: 2px solid  rgb(165 153 153);
    border-radius: 50px;
    width: 250px;
    height: 45px;
    text-align: center;
    line-height: 42px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color:#fff;
    color:#A59999;
}
.selfTest_result.active{background-color:#A59999; color:#fff;}

.selfTest_btn{
    display: flex;
    justify-content: flex-end;
}

.selfTest_prev_btn,
.selfTest_next_btn{
    border: 1px solid rgb(165 153 153);
    width: 6.5em;
    height: 40px;
    background: rgb(0 0 0 / 0%);
    color: rgb(165 153 153);
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
}

.selfTest_prev_btn.hidden, .selfTest_next_btn.hidden{display: none;}

#selfTest_result_btn{
    display: none;
    border: 0px solid rgb(165 153 153);
    width: 17.5em;
    height: 45px;
    background-color: #E5D4C5;
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 5vh;
    cursor: pointer;
}


.mb_selfTest_btn{
    display: none;
}

@media (hover: hover) {
    .selfTest_prev_btn:hover,
    .selfTest_next_btn:hover,
    #selfTest_result_btn:hover{
        background: #A59999;
        color: #FFF;
        transition: 0.7s;
    }

    .self_content_option1 div:hover,
    .self_content_option2 div:hover{
        font-size: 20px;
        background: #E5D4C5;
        color:white;
        transition: 0.2s;
    }
}

@media screen and (min-width: 279px) and (max-width: 768px){
    .main_wrap{
        width: 100%;
    }

    .self_banner{
        width: 100%;
        text-align: start;
        letter-spacing: 0px;
        word-spacing: 0px;
        height: 200px;
    }

    .self_banner div{
        width: 70%;
    }

    .self_banner >div:first-child{
        font-size: 1.15em;
        margin-top: 1.7vh;
    }

    .self_banner >div:last-child{
        font-size: 1.15em;
        line-height: 21px;
    }

    .self_content{
        width: 90%;
        text-align: start;
        margin-top: 25px;
    }

    .self_content_title{
        font-size: 18px;
        margin-top: 0px;
        line-height: 25px;
        height: 100px;
    }

    .self_content_option{
        margin-top: -3vh;
        height: 140px;
    }

    .self_content_option1,
    .self_content_option2{
        font-size: 3vw;
        font-weight: 500;
        line-height: 66px;
        font-weight: bold;
    }

    .self_content_option1 div,
    .self_content_option2 div{
        height: 50%;
    }

    .selfTest_title{
        margin-top: 4vh;
    }

    .selfTest_title h1{
        font-size: 6vw;
    }

    .selfTest{
        padding: 0;
    }

    .selfTest_title div{
        margin-top: 3vh;
        line-height: 1.9vh;
        font-size: 0.9em;
        word-spacing: 0vw;
    }

    .selfTest_content{
        border-bottom: 1px solid rgb(237 237 237);
        border-top: 1px solid rgb(237 237 237);
        padding: 20px 0;
        margin: 30px 0;
        margin-bottom: 15px;
    }

    .selfTest_content > span:first-child{
        font-weight: bolder;
        font-size: 25px;
    }

    .selfTest_content > span:nth-child(3){
        margin-left: 5px;
        color: rgb(165 153 153);
    }

    .selfTest_content > span:nth-child(2){
        border-left: 1px solid rgb(0 0 0);
        font-size: 15px;
    }

    .selfTest_content > div:first-of-type{
        margin: 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .selfTest_content > div:first-of-type{
        margin: 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    #selfTest_content_option{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    .selfTest_result{
        height: 15vh;
        width: 25%;
        margin: 0 4vw;
        margin-right: 0;
        font-size: 4.8vw;
        background: linear-gradient( #E5D4C5 70%, #fff0ba 20%);
        font-weight: bold;

    }

    .self_content_form{
        text-align: center;
    }

    #selfTest_result_btn{
        display: none;
        border: 0px solid rgb(165 153 153);
        width: 10.5em;
        height: 45px;
        background-color: rgb(229 212 197);
        color: rgb(255 255 255);
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 3vh;
        cursor: pointer;
    }
    .selfTest_prev_btn{
        margin-left: 0;
    }


}
