<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="secretMapper">

	<resultMap type="Board" id="board_rm">
		<id property="boardNo" column="BOARD_NO"/>

		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="createDate" column="BOARD_CREATE_DT"/>
		<result property="modifyDate" column="BOARD_MODIFY_DT"/>
		<result property="replyCheckCode" column="REPLY_CHECK_CD"/>
		<result property="scrapCheckCode" column="SCRAP_CHECK_CD"/>
		<result property="anonCheckCode" column="ANON_CHECK_CD"/>
		<result property="empathyCheckCode" column="EM_CHECK_CD"/>
		<result property="readCount" column="BOARD_READ_COUNT"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberFn" column="MEMBER_FN"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="professionNo" column="PROFESSION_NO"/>
		<result property="professionName" column="PROFESSION_NM"/>
		<result property="statusCode" column="BOARD_STATUS_CD"/>
		<result property="boardCategoryCode" column="BOARD_CATEGORY_CD"/>
		<result property="boardCategoryName" column="BOARD_CATEGORY_NM"/>
		<result property="worryCategoryCode" column="WORRY_CATEGORY_CD"/>
		<result property="worryCategoryName" column="WORRY_CATEGORY_NM"/>
		
		<result property="replyCount" column="REPLY_COUNT"/>
		<result property="memberImage" column="MEMBER_IMAGE"/>
		<result property="empathyStatusCode" column="EMPATHY_STATUS_CD"/>
		<result property="professionImage" column="PROFESSION_IMAGE"/>
		
		<result property="likeCount" column="L_COUNT"/>
		<result property="cheerCount" column="C_COUNT"/>
		<result property="sadCount" column="SA_COUNT"/>
		<result property="angryCount" column="A_COUNT"/>
		<result property="surpriseCount" column="SU_COUNT"/>
		<result property="profrssionImage" column="PROFESSION_IMAGE"/>

		<result property="worryEmpathyArray" column="EMPATHY_ARRAY"/>
		<result property="worryCntArray" column="CNT_ARRAY"/>

		<result property="imageName" column="IMAGE_NM"/>
		<result property="imagePath" column="IMAGE_PATH"/>
		<result property="postNo" column="POST_NO"/>
		<result property="maxValue" column="MAX_VALUE"/>
		
		<result property="empathyStatusName" column="EMPATHY_STATUS_NM"/>
		<result property="reviewStarpoint" column="REVIEW_STARPOINT"/>
		<result property="proIntro" column="PRO_INTRO"/>
		<result property="counselPrice" column="COUNSEL_PRICE"/>
		<result property="avgReviewStarpoint" column="AVG_REVIEW_STARPOINT"/>
		<result property="countStar" column="COUNT_STAR"/>
		<result property="maxValue" column="MAX_VALUE"/>
	
		<collection property="imgList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Image" select="selectBoardImageList"/> 
		
		<!--<collection property="profileImgList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Image" select="selectFropileImageList"/>
		<collection property="emList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Empathy" select="selectEmpathyList"/>-->
	</resultMap>
	
	
		<resultMap type="Image" id="image_rm">
		<id property="imageNo" column="IMAGE_NO"/>
		<result property="imagePath" column="IMAGE_PATH"/>
		<result property="imageName" column="IMAGE_NM"/>
		<result property="imageOriginal" column="IMAGE_ORIGINAL"/>
		<result property="imageLevel" column="IMAGE_LEVEL"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="boardNo" column="PROFESSION_NO"/>
		<result property="professionNo" column="BOARD_NO"/>
		<result property="professionName" column="PROFESSION_NM"/>
	</resultMap>
	
    <resultMap type="Empathy" id="empathy_rm">
    	<result property="memberNo" column="MEMBER_NO"/>
    	<result property="boardNo" column="BOARD_NO"/>
    	<result property="empathyStatusCode" column="EMPATHY_STATUS_CD"/>

    </resultMap>
    
    <resultMap id="scrap_rm" type="Scrap">
		<id property="scrapNo" column="SCRAP_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="imagePath" column="IMAGE_PATH"/>
		<result property="imageName" column="IMAGE_NM"/>
		<result property="boardStatusCode" column="BOARD_STATUS_CD"/>
		<result property="readCount" column="BOARD_READ_COUNT"/>
		<result property="enrollDate" column="ENROLL_DT"/>
		<result property="maxValue" column="MAX_VALUE"/>
 	</resultMap>
 	







	<!-- 털어놓기 게시글 -->
	<select id="selectSecretList" resultMap="board_rm">
	 SELECT * FROM(
		SELECT ROWNUM AS RNUM, TEMP.* FROM(
			SELECT MEMBER.MEMBER_NO, MEMBER_ID, MEMBER_FN,
			BOARD.BOARD_NO, BOARD_CONTENT, BOARD_CREATE_DT,
			REPLY_CHECK_CD,SCRAP_CHECK_CD,EM_CHECK_CD,ANON_CHECK_CD,
			e.EMPATHY_ARRAY, e.CNT_ARRAY,
			IMAGE.IMAGE_NM, IMAGE.IMAGE_PATH,
			(SELECT COUNT(*) FROM REPLY WHERE BOARD_NO = BOARD.BOARD_NO) REPLY_COUNT
		FROM BOARD
		LEFT JOIN MEMBER ON MEMBER.MEMBER_NO = BOARD.MEMBER_NO
		LEFT JOIN IMAGE ON IMAGE.MEMBER_NO = MEMBER.MEMBER_NO
		LEFT JOIN(
			SELECT
				a.BOARD_NO,
				LISTAGG(  a.EMPATHY_STATUS_CD, ',' ) WITHIN GROUP (ORDER BY a.EMPATHY_STATUS_CD) AS EMPATHY_ARRAY,
				LISTAGG(  a.cnt, ',' ) WITHIN GROUP (ORDER BY a.cnt) AS CNT_ARRAY
			FROM (
				SELECT BOARD_NO, EMPATHY_STATUS_CD, COUNT(EMPATHY_STATUS_CD) cnt
				FROM EMPATHY
				GROUP BY BOARD_NO, EMPATHY_STATUS_CD
			) a
			GROUP BY BOARD_NO
		) e on e.BOARD_NO = BOARD.BOARD_NO
		WHERE BOARD_CATEGORY_CD = 104 AND BOARD_STATUS_CD = 201 
		AND  (IMAGE.IMAGE_LEVEL = 0 OR IMAGE.IMAGE_LEVEL IS NULL)
		
		<if test="muteMember != null">
			AND MEMBER.MEMBER_NO NOT IN (${muteMember})
		</if>
		ORDER BY BOARD_CREATE_DT DESC 
		) TEMP)
		
		WHERE RNUM BETWEEN #{first} AND #{last} 
		
		<!-- SELECT MEMBER.MEMBER_NO, MEMBER_ID, MEMBER_FN,
			BOARD.BOARD_NO, BOARD_CONTENT, BOARD_CREATE_DT,
			REPLY_CHECK_CD,SCRAP_CHECK_CD,EM_CHECK_CD,ANON_CHECK_CD,
			e.EMPATHY_ARRAY, e.CNT_ARRAY,
			(SELECT COUNT(*) FROM REPLY WHERE BOARD_NO = BOARD.BOARD_NO) REPLY_COUNT
		FROM BOARD
		LEFT JOIN MEMBER ON MEMBER.MEMBER_NO = BOARD.MEMBER_NO
		LEFT JOIN(
			SELECT
				a.BOARD_NO,
				LISTAGG(  a.EMPATHY_STATUS_CD, ',' ) WITHIN GROUP (ORDER BY a.EMPATHY_STATUS_CD) AS EMPATHY_ARRAY,
				LISTAGG(  a.cnt, ',' ) WITHIN GROUP (ORDER BY a.cnt) AS CNT_ARRAY
			FROM (
				SELECT BOARD_NO, EMPATHY_STATUS_CD, COUNT(EMPATHY_STATUS_CD) cnt
				FROM EMPATHY
				GROUP BY BOARD_NO, EMPATHY_STATUS_CD
			) a
			GROUP BY BOARD_NO
		) e on e.BOARD_NO = BOARD.BOARD_NO
		WHERE BOARD_CATEGORY_CD = 104


		<if test="searchCategory != null">
			<bind name="val" value="'%' + searchText + '%'"/>

			<choose>
				<when test="searchCategory == 'id'">
					AND MEMBER_FN LIKE #{val}
				</when>
				<otherwise>
					AND BOARD_CONTENT LIKE #{val}
				</otherwise>
			</choose>
		</if>
		ORDER BY BOARD.BOARD_NO DESC  -->
	</select>
	
	<select id="countSecretList" resultType="_int">
		SELECT COUNT(*) MAX_VALUE
		FROM BOARD
		WHERE BOARD_CATEGORY_CD = 104 AND BOARD_STATUS_CD = 201
	</select>
	
	
	
	<!-- 털어놓기게시판 게시글 작성 -->
	<insert id="insertSecretBoard"  useGeneratedKeys="true" parameterType="Board">
		
	    <selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
	         SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
	    </selectKey>
	    
		INSERT INTO BOARD 
		VALUES(#{boardNo},DEFAULT, #{boardContent}, DEFAULT, DEFAULT, DEFAULT, 
				#{replyCheckCode},#{scrapCheckCode},#{boardCategoryCode},#{memberNo},
				DEFAULT,DEFAULT,#{empathyCheckCode},#{anonCheckCode},DEFAULT)
	</insert>
	
	<!-- 게시판 이미지 삽입 -->
	<insert id="insertImgList" >
		
   		INSERT INTO IMAGE VALUES (SEQ_IMAGE_NO.NEXTVAL, #{imagePath},
					 #{imageName},
					 #{imageOriginal},
					 #{imageLevel},
					 DEFAULT,DEFAULT,
					 #{boardNo})
   </insert>
	
	
	
	
	<!-- 게시글 수정 -->
	<update id="updateBoard">
		UPDATE BOARD SET 
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		REPLY_CHECK_CD = #{replyCheckCode},
		SCRAP_CHECK_CD =#{scrapCheckCode},
		EM_CHECK_CD= #{empathyCheckCode},
		ANON_CHECK_CD = #{anonCheckCode},
		BOARD_MODIFY_DT = SYSDATE
		WHERE BOARD_NO = #{boardNo} 
	</update>
	
	
	<!-- 게시글 상세 조회 -->
	<select id="selectBoard" resultMap="board_rm">
			SELECT BOARD.BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATE_DT,
			MEMBER.MEMBER_NO, MEMBER_ID, MEMBER_NM, MEMBER_FN,
			REPLY_CHECK_CD,SCRAP_CHECK_CD,EM_CHECK_CD,
			e.EMPATHY_ARRAY, e.CNT_ARRAY,
			IMAGE.IMAGE_NM, IMAGE.IMAGE_PATH,
			(SELECT COUNT(*) FROM REPLY WHERE BOARD_NO = BOARD.BOARD_NO) REPLY_COUNT
		FROM BOARD
		LEFT JOIN MEMBER ON MEMBER.MEMBER_NO = BOARD.MEMBER_NO
		LEFT JOIN IMAGE ON IMAGE.MEMBER_NO = MEMBER.MEMBER_NO
		LEFT JOIN(
			SELECT a.BOARD_NO,
				LISTAGG( a.EMPATHY_STATUS_CD, ',' ) WITHIN GROUP (ORDER BY a.EMPATHY_STATUS_CD) AS EMPATHY_ARRAY,
				LISTAGG( a.cnt, ',' ) WITHIN GROUP (ORDER BY a.cnt) AS CNT_ARRAY
			FROM (
				SELECT BOARD_NO, EMPATHY_STATUS_CD, COUNT(EMPATHY_STATUS_CD) cnt
				FROM EMPATHY
				GROUP BY BOARD_NO, EMPATHY_STATUS_CD
			) a
			GROUP BY BOARD_NO
		) e on e.BOARD_NO = BOARD.BOARD_NO
		WHERE BOARD_CATEGORY_CD = 104
		AND BOARD_STATUS_CD = 201
    	AND BOARD.BOARD_NO = #{boardNo}
		AND MEMBER.STATUS_CD != 1
		AND (IMAGE.IMAGE_LEVEL = 0 OR IMAGE.IMAGE_LEVEL IS NULL)
	</select>
	
	<!-- 게시판 이미지 조회-->
   <select id="selectBoardImageList" resultMap="image_rm">
      <if test="#{boardNo} != null ">
         SELECT * FROM IMAGE
         WHERE BOARD_NO = #{boardNo}
         ORDER BY IMAGE_LEVEL
      </if>
   </select>
	
	<!-- 게시글 조회 수 증가 -->
	<update id="increaseReadCount" >
		UPDATE BOARD SET 
		BOARD_READ_COUNT = BOARD_READ_COUNT + 1 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시글 삭제  -->
	<update id="deleteBoard">
		UPDATE BOARD SET 
		BOARD_STATUS_CD = 203,
		BOARD_MODIFY_DT = SYSDATE
		WHERE BOARD_NO = #{boardNo} 
	</update>
	
	
	<!-- 스크랩 여부 조회 -->
	<select id="selectScrap" resultMap="scrap_rm">
		SELECT SCRAP_NO FROM SCRAP WHERE BOARD_NO = #{boardNo} AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 스크랩하기 -->
	<insert id="insertScrap">
		INSERT INTO SCRAP VALUES(SEQ_SCRAP_NO.NEXTVAL,#{memberNo} ,#{boardNo}, DEFAULT)
	</insert>
	
	<delete id="deleteScrap">
		DELETE FROM SCRAP WHERE BOARD_NO = #{boardNo} AND MEMBER_NO = #{memberNo}
	</delete>
	
	<!-- 회원 차단 -->
	<insert id="memberBlock">
		INSERT INTO MUTE VALUES(#{memberNo}, #{loginMember}, DEFAULT)
	</insert>
	
	<select id="selectMuteMember" resultType="string">
 		 SELECT 
          LISTAGG(  MUTE_NO, ',' ) WITHIN GROUP (ORDER BY MUTE_NO) AS MUTE_NO 
        FROM(
          SELECT MUTE_NO
          FROM MUTE
          WHERE MEMBER_NO = #{memberNo}
        ) 
	</select>
	
	<select id="selectEmpathy" resultMap="empathy_rm">
		SELECT EMPATHY_STATUS_CD FROM EMPATHY WHERE BOARD_NO = #{boardNo} AND MEMBER_NO = #{memberNo} 
		AND EMPATHY_STATUS_CD = #{empathyStatusCode}
	</select>
	
	<insert id="insertEmpathy">
		INSERT INTO EMPATHY VALUES(#{memberNo} ,#{boardNo},#{empathyStatusCode}, SYSDATE)
	</insert>
	
	<delete id="deleteEmpathy">
		DELETE FROM EMPATHY WHERE BOARD_NO = #{boardNo} AND MEMBER_NO = #{memberNo}
		AND EMPATHY_STATUS_CD = #{empathyStatusCode}
	</delete>
	
	
	
	

</mapper>
